body {
    color: #F3E5F5;
    user-select: none;
    background-color: rgb(25, 25, 25);
}

.menu {
    width: 100%;
    height: 52px;
    padding: 05px;
    display: table;
    color: #D1C4E9;
    font-size: x-large;
    text-align: center;
    background-color: #000000;
    border-bottom: 3px solid #4A148C;
}

.nav {
    padding: 5px;
    display: table-row;
}

.voltar {
    width: 10%;
    display: table-cell;
}

.nome {
    width: 80%;
    display: table-cell;
}

.mais {
    width: 10%;
    display: table-cell;
}

.conteudo {
    width: 100%;
    display: table;
    margin-bottom: 55px;
}

.home-conteudo {
    width: 100%;
    display: table;
}

.home-conteudo img {
    border: 1px solid #D1C4E9;
    border-radius: 05px;
}

.itens {
    padding: 5px;
    display: table-row;
}

.item {
    width: 50%;
    /*margin: 10px;*/
    /*padding: 10px;*/
    padding-left: 05px;
    padding-right: 05px;
    padding-top: 05px;
    text-align: center;
    display: table-cell;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 02px;
    display: table;
    position: fixed;
    background-color: #000000;
    border-top: 3px solid #4A148C;
}

.navegacao {
    width: 100%;
    display: table-row;
}

.botoes {
    width: 50%;
    padding: 05px;
    display: table-cell;
}

.btn-dark {
    width: 100%;
}

.img-thumbnail {
    padding: 0px;
    /*background-color: #4A148C !important;
    border: 1px solid #4A148C !important;*/
}

a {
    color: #D1C4E9 !important;
}

video {
    width: 100%;
}

.slider {
  width: 100%;
  height: 10px;
  outline: none;
  border-radius: 5px;  
  background: #4A148C;
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #7E57C2;
  cursor: pointer;
}

.progresso-container {
    width: 100%;
    padding: 05px;
    display: table;
    text-align: center;
}

.opcoes {
    display: table-row;
}

span {
    display: table-cell;
}

input[type="range"] {
    display: table-cell;
}

.play {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    border-radius: 50%;
}

.controle {
    width: 100%;
    text-align: center;
}

.video {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    width: 100%;
    padding: 10px;
    text-align: center;
}
